// Navigation code here

.navigation{
    .centerText();
}
@media @phone{
    .navigation{
        text-align: center;
    }
}


.topNavTitle{
    font-size: 4rem;
    margin-bottom: 2rem;
}



.topNavBar{
    display: flex;
    justify-content: center;
    // padding: 0 30rem 0 30rem;
    font-size: 2rem;
}


.topNavBar a{
    text-decoration: none;
    color: black;
    margin-bottom: 15px;
    margin-left: 2rem;
}

@media @phone{
.topNavImg{
   width: 100%;
}
}